@using VCDRent.Models.Invent
@inject VCDRent.Data.ApplicationDbContext Context
@{
    ViewData["Title"] = "Home Index";
    Layout = "_AdminlteNetcore";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        @*<h3>@po</h3>*@
                        <h3>hm</h3>
                        <p>Home</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-chain"></i>
                    </div>
                    <a href="@Url.Action("Index", "Home")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Styles{

}


@section Scripts{
    <!-- ChartJS -->
    <script src="~/adminlte/components/chart.js/Chart.js"></script>
    <script>
        $(document).ready(function () {
            var mainTable;

            mainTable = $('.table').DataTable({
                "lengthChange": false,
                "info": false,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false
            });

            $('#mainSearch').keyup(function () {
                mainTable.search($(this).val()).draw();
            });

    </script>
}


